{% extends 'main_page/main.html' %}

{% block content %}
<head>
    <title>todo</title>
</head>
<body>

<h1>Todo</h1>

<ul>
    {% for task in object_list %}
        <li>{{ task.title }}</li>
        <li>{{ task.is_done }}</li>
        <br>
</ul>
    {% endfor %}



<!--Кнопка добавления задания-->
<!--{% block add %}-->
<!--    <form method="post" action="add_todo/">-->
<!--        {% csrf_token %}-->
<!--        <label>Введите новое задание</label>-->
<!--        <br>-->
<!--        <p>Задание:<br> <input name="add" type="text"></p>-->
<!--        <input type="submit" value="Добавить задание">-->
<!--    </form>-->
<!--    <br>-->
<!--{% endblock add %}-->



<!--&lt;!&ndash;Кнопка удаления задания&ndash;&gt;-->



{% endblock %}

</body>

